html {
  background-color: #3a0ca3;
  text-align: center;
  overflow-x: hidden;
}

h1, h2, h3 {
  color: white;
  font-family: 'Luxurious Roman', cursive;
}
.instructions{
  position: relative;
  left:35%;
  margin-top: 10%;
  transform:rotate(45deg);
}
.EightBallContainer {
  margin: 0 auto 0 auto;
  background: radial-gradient(circle at 30vmin 30vmin, #444, #000);
  color: white;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  box-shadow: 5px 10px #480ca8;
}

.highlight {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle at 30vmin 30vmin, #f4f1de, #444);
  position: relative;
  left: 20%;
  top: 20%;
}

.EightballInner {
  position: relative;
  top: 15%;
  border: 8px solid #212f45;
  margin: auto;
  background: radial-gradient(circle at 30vmin 30vmin, #4361ee, #000);
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

#EightballTextContainer {
  margin: 35% auto;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  border-top: 125px solid #480ca8;
  animation: floating 6s linear infinite;
}

.eightballTextCont2 {
  width: 100px;
  position: relative;
  bottom: 125px;
  right: 45px;
}

/* animations */
@keyframes shake {
  0% {
    filter: blur(4px);
    margin-top: 0;
  }

  25% {
    filter: blur(1.5rem);
    margin-top: 200px;
  }

  50% {
    filter: blur(4px);
    margin-top: 350px;
  }

  75% {
    filter: blur(1.5rem);
    margin-top: 200px;
  }

  100% {
    filter: blur(4px);
    margin-top: 0;
  }
}

@keyframes floating {
  from {
    transform: rotateZ(0) rotateY(20deg) translateZ(6.8vmin) rotateZ(0);
  }

  to {
    transform: rotateZ(1turn) rotateY(20deg) translateZ(6.8vmin) rotateZ(-1turn);
  }
}

@keyframes opacity {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
